/*.cat_preview div {*/
/*    width: 200px;*/
/*    min-height: 200px;*/
/*    border: 3px solid #319b21;*/
/*}*/

.cat_avatar > img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.cat_avatar {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    /*border: 3px solid #319b21;*/
}

a>.cat_avatar{
    cursor: pointer;
}

