.cat_slider_block{
    display: flex;
}

.cat_slider_block .cat_preview{
    display: flex;
    max-width: initial;
}

.carousel .slide{
    min-width: 300px;
    background: transparent!important;
    /*display: none;*/
}

.carousel .slide.selected{
    /*display: block;*/
}
